$color-primary: #ec9791;
$color-primary-light: #ec9791;
$color-primary-dark: #ec9791;
$color-text-on-primary: #212121;

$color-secondary: #ffb74d;
$color-secondary-light: #f5ead2;
$color-secondary-dark: #f5ead2;
$color-text-on-secondary: #212121;

$color-background: #edf0f2;
